.Admintitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: blueviolet;
}

#BottomNavigation {
    margin: spacing(1);
}

#dropdown-basic {
    background-color: none;
    background: none;
    padding:0.3rem;
    border-radius: 0.5rem;
    color: rgb(29, 21, 21);
    cursor: pointer;
    outline: none;
    margin: 15px
}

.panelDesing {
    width: 100%;
}

#complaintBox {
    outline: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.cardDesi {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.panelDesing {
    width: 100%;
}

.Tabdesign {
    border: none;

}

.designComplaint {

    width: 50%;
    height: 100px;
}

#bottomNav{

    outline: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    
 

}

body
{
background-repeat:no-repeat;
background-size:cover;
background-position:center;
bottom:0;
width:100% /* replace "url from the web" with your url*/
}